@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.root{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.df {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar CSS start */

nav {
    width: calc(100% - 300px);
    height: 50px;
    position: absolute;
    top: 0;
    left: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 40%;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    padding: 10px;
    border: 1px solid rgba(0, 0,0, 0.2);
    outline: none;
    height: 40%;
    width: 700px;
    margin-left: 300px;
}

.form__button{
    padding: 10px;
    height: 40%;
    border: none;
    outline: none;
    width: 60px;
    margin-left: -10px;
    border: 1px solid rgba(0, 0,0, 0.2);
    background-color: #f8f8f8;
}

.nav__right{
    width: 300px;
    justify-content: space-around;
}

.avatar{
    background-image: url('./assets/avatar.jpg');
    height: 30px;
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;

}

/* Navbar css ends  */

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
}
.hamburger {
    height: 50px;
    position: relative;
    display: flex;
}

.hamburger__logo{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger__icon{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
}

.sidebar__boxes{
    height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tile{
    width: 100%;
    display: flex;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar__icons{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    border-bottom: 1px solid #d1d1d1;
}

i {
    color: #555;
}


.subs_heading {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    text-transform: uppercase;
}

/* sidebar ends  */

/* view(videos) start  */


.view {
    position: absolute;
    top: 50px;
    left: 300px;
    background-color: #f9f9f9;
    height: calc(100vh - 50px);
    width: calc(100vw - 300px);
    padding: 30px;
    overflow: scroll;
}

/* scrollbar fix start  */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* scrollbar fix ends  */

.view__recommended{
    display: grid;
    justify-content: space-around;
    height: 50%;
    width: 100%;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;

}

.view__heading{
    margin-bottom: 30px;
}

.video--div{
    width: 200px;
    position: relative;
}

.video--img{
    height: 100px;
    width: 200px;
}

.heading--video{
    font-weight: 700;
    margin-bottom: 10px;
}

.heading--channel{
    color: #333;
    font-size: 0.9rem;
}

.heading--stats{
    font-size: 0.9rem;
    color: #333;
}

.show--more{
    border-bottom: 1px solid #999;
    margin-bottom: 30px;
    padding-bottom: 20px; 
}